@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,600|Roboto+Slab');
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
@import "node_modules/highlight.js/styles/github";

$bannerBlue: #0089AF;
$textBlue: #348CB7;
$black: #3b4c52;
$grey: #787878;
$sansSerif: 'Roboto', sans-serif;
$serif: 'Roboto Slab', serif;
$yellow: #EDCA7C;
$yellowText: #5D5432;
$bgBlue: #EFF7FA;
$highlightBlue: #00AAD9;
$darkBlue: #3D4E53;
$borderColor: #e8e8e8;

* {
    font-family: $sansSerif;
}

body {
    background: #f9fafc;
    color: $black;
    padding-top: 50px;
    margin: 0;
    padding: 0;
    font-size: 16px;
    line-height: 26px;
}


a {
    color: $textBlue;
    transition: color .5s;
}

a:hover {
    color: darken($textBlue, 10);
    text-decoration: none;
}

li,p,pre {
    margin: 0 0 14px 0;
}

.toc-nav {
    padding-right: 20px;

    h3 {
        border-bottom: 1px solid #e5e5e5;
        font-weight: 300;
        font-size: 16px;
        margin-bottom: 10px;
        padding: 0 10px 10px 10px;
        letter-spacing: 1px;
    }
}

.nav li {
    margin: 0;
}

h1,h2,h3 {
    font-weight: 400;
}

h1 {
    font-size: 40px;
    margin-top: 10px;
    margin-bottom: 40px;
}

h2 {
    font-size: 30px;
    margin-top: 40px;
    margin-bottom: 20px;
    border-bottom: 1px solid $borderColor;
    padding-bottom: 16px;
}

h3 {
    margin-top: 30px;
    margin-bottom: 15px;
}

.section-label h1 {
    color: lighten($black, 30);
    font-size: 18px;
    font-weight: 300;
    margin: 20px 0;
    padding: 0 15px;
    letter-spacing: 1px;
}

.github-icon,
.navbar-nav > li > a.github-icon {
    line-height: 0;
}

.navbar-header {
    float: left;
}

.navbar-nav {
    float: right;
}

.navbar,
.navbar-default .navbar-brand,
.navbar-default .navbar-nav > li > a {
    color: $black;
    // line-height: 0;
}

.navbar-default {
    background-color: #ffffff;
    border-color: $borderColor;
}

.nav-wrap {
    padding: 0 15px;
    border-bottom:1px solid #e8e8e8;
}

.b {
    display: block;
}

.tac {
    text-align: center;
}

.undec {
    text-decoration: none;
}

.pad {
    padding: 10px;
}

.mtop {
    margin-top: 50px;
}

.nav-item {
    color: $black;
    font-size: 16px;
    border-radius: 3px;

    &:hover,
    &.active {
        background: #ffffff;
    }

    &.active {
        padding-left: 20px;
    }
}

.nav-item-sub {
    padding-left: 30px;
}

.sm {
    font-size: 12px;
}

.content {
    padding: 10px 0;
}

.intro {
    font-family: $serif;
    font-size: 18px;
    line-height: 28px;
    margin-bottom: 30px;
    padding-bottom: 12px;
    border-bottom: 1px solid darken($borderColor, 10);
}

img {
    max-width: 100%;
}

footer {
    margin-top: 60px;
    color: #ffffff;
    background-color: $darkBlue;
    padding: 50px 0 30px 0;

    a {
        color: #6fc8f2;
    }

    a:hover {
        color: darken(#6fc8f2, 10);
    }
}

pre {
    background-color: #f8f8f8;
    border: 1px solid rgba(51, 69, 109, 0.21);
    font-size: 14px;
}